@model System.Collections.Generic.IEnumerable<FicLibraryMvcPL.Models.BllModels.TextDescriptionViewModel>
@{
    ViewBag.Title = "Published";
    ViewBag.ShowMoreButton = true;
}

<h2 class="align-center">Публикации пользователя @ViewBag.AuthorLogin</h2>

@foreach (var title in Model)
{
    @Html.Partial("_TitlePartial", title)
}

