@model FicLibraryMvcPL.Models.PagedDataViewModel<FicLibraryMvcPL.Models.BllModels.TextDescriptionViewModel>
@{
    ViewBag.Title = "Unpublished";
    ViewBag.ShowMoreButton = true;
}

<h2 class="align-center">Черновые публикации</h2>
<div id="published">
    @Html.Partial("_List", Model)
</div>

<script>
    function pagination(pageNumber) {
        $.ajax({
            url: "@(Url.Action("Unpublished", "User"))",
            data: {
                'profileId': document.getElementById("profileId").value,
                'pageNumber': pageNumber,
                'pageSize': document.getElementById("pageSize").value
            },
            type: 'GET',
            success: function (response) {
                document.getElementById("published").innerHTML = response;
            }
        });
    }
</script>
