<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/mentro-ui")
    @Scripts.Render("~/bundles/metro-ui")
    <style>
        .login-form {
            width: 25rem;
            position: fixed;
            top: 30%;
            margin-top: -9rem;
            left: 50%;
            margin-left: -12.5rem;
            background-color: #ffffff;
        }

        .input-validation-error {
            background-color: rgba(255,100,100,100)
        }
    </style>
</head>
<body class="bg-darkGreen" style="background-image: url(/Resources/WDF_990970.jpg)">
    <div id ="logon-parent" class="padding20" >
        @RenderBody()
    </div>
</body>
</html>
