################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ASP.NET.2.Shlandakov.FicLibrary/DalTestProj
