@model System.Collections.Generic.IEnumerable<FicLibraryMvcPL.Models.BllModels.TextDescriptionViewModel>
@{
    ViewBag.Title = "Заглавная";
    ViewBag.ShowMoreButton = true;
}

@*<div class="carousel" data-role="carousel" data-height="500" data-markers="false" data-period="10000" data-effect="fade" data-controls="false"  style="width: 100%; height: 500px;">
    <div class="slide" style="display: block;">
        <img src="/Resources/1.jpg" alt="pic1">
    </div>
    <span class="carousel-switch-next" onclick="">
        <span class="mif-chevron-right"></span>
    </span>
    <span class="carousel-switch-prev" onclick="">
        <span class="mif-chevron-left"></span>
    </span>
</div>*@
 
@Html.Action("MainSlider", "News")

<h1>Последние публикации</h1>
@if (Model.ToList().Count == 0)
{
    <div class="partial-border align-center">
        <h1>
            <small>Опубликованных текстов не найдено. Будьте первым!</small>
        </h1>
            <a href="@Url.Action("Create", "TextDescription")"><button class="button success block-shadow-success">Создать публикацию!</button></a>
    </div>
}
else
{
    foreach (var e in Model)
    {
        @Html.Partial("_TitlePartial", e)
    }
}