
<div class="login-form padding20">
    <h1 class="text-light" align="center">Успех!</h1>
    <hr class="thin" /><br>
    <div align="center">
        <h4>@ViewBag.SuccessMessage</h4>
        @Html.ActionLink("Продолжить", "Index", "Home", new { }, new { @class = "button primary" })
    </div>
</div>